* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .box-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card1 {
    display: flex;
  }
  
  .card2 {
    display: flex;
  }
  
  .box {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    margin: 30px;
  }
  
  .red-long {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    gap: 50px;
  }
  
  .red {
    width: 800px;
    height: 100px;
    border: 2px solid red;
  }
  .blue-box {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
  }
  
  .blue-green,
  .blue-box2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .card3,
  .card4,
  .card5,
  .card6 {
    height: 150px;
    width: 150px;
    border: 3px solid black;
  }
  
  .card3 {
    border: 3px solid black;
    background-color: blue;
    height: 150px;
    width: 150px;
  }
  
  .card4 {
    border: 3px solid black;
    background-color: green;
    height: 150px;
    width: 150px;
  }
  
  .card5 {
    border: 3px solid black;
    background-color: blue;
    height: 150px;
    width: 150px;
  }
  
  .card6 {
    border: 3px solid black;
    background-color: green;
    height: 150px;
    width: 150px;
  }
  
  .shape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 30px;
  }
  
  .circle1,
  .circle2 {
    border: 2px solid blue;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 30px;
  }
  .circle1 {
    background-color: blue;
  }
  
  
  .square {
       border: 2px solid black;
       background-color: green;
       width: 300px;
       height: 400px;
  }
  
     
  
  .footer-square {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 100px;
  }
  
  .footer {
       
       width: 1000px;
       height: 100px;
       border: 2px solid blue;
       background-color: red;
  }
   
     
  
  .box-shape-container {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 50px;
  
  }
  
  
  
  .box-shape {
       height: 100px;
       width: 100px;
       border: 2px solid black;
       margin-top: 50px;
  }